@import '../../shared/mixins',
        '../../shared/reset',
        '../../shared/about-light';

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #abffc8;
  text-align:center;
}

#logo{
	font-size:35px;
	color: #a8e8ff;
	height:35px;
}
#small{
	font-size:12px;
	color: #a8e8ff;
}

.menu{
	width:100%;
	height:35px;
	text-align:left;
	background: #1b3975;
	margin: -15px;
	padding:30px;
	position: fixed;
	top:0;
	z-index:1;

}


.container {
  margin-top: 100px;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%;
  position:relative:
  width: 640px;
  float:center;
  
}

.search{
	width: 340px;
    height: 290px;
    background: white;
    border-radius: 50%;	
    position: relative;
  	margin: 0 auto;
  	padding: 55px 20px 20px;
  	text-align:center;
  	
}

.login{
    width: 310px;
    height: 280px;
    background: white;
    border-radius: 50%;	
	
  position: relative;
  margin: 0 auto;
  padding: 40px 20px 20px;
  text-align:center;

  h1 {
    margin: 20px 20px 20px 20px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, whiteffd, #eef2f5);
    @include box-shadow(0 1px #f5f5f5);
  }
  
  .error{
	font-size:12px;
	color: red;
  }
  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

  p.submit { text-align: right; }
}

.login-help {
  margin: 20px 0;
  font-size: 12px;
  text-align: center;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit], button{
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  /*border-radius: 16px;*/
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
  :hover {
  background : black;
  }
}
input[type=reset], button{
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  /*border-radius: 16px;*/
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
  :hover {
  background : black;
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}

select {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  background: #f9fcff;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  /*border-radius: 16px;*/
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     display: inline;
}

li {
   	float: left;
}

li a:link, li a:visited {
   	display: block;
   	width: 180px;
   	color: #FFFFFF;
   	font-size:15px;
   	text-align: center;
   	padding: 4px;
   	text-decoration: none;
   	text-transform: uppercase;
}

li a:hover, li a:active {
   	text-decoration:underline;
}

#menu, #menu td, #menu tr {
	border: 0px;
}

#list, #info{
	table-layout:absolute;
	width:100%;
	margin-top:15px;
	border: 10px solid #1b3975;
	background-color: white ;
	border-collapse:collapse;
	text-align:left;
	padding:15px 15px 15px 15px;
}

#list tr, #info tr{
	margin-top:15px;
	border: 2px solid #1b3975;
	background-color: white ;
	border-collapse:collapse;
	text-align:left;
	padding:15px 15px 15px 15px;
}


#list th{
	padding:15px;
	background-color:#a1d6ef;

}

#list #highlight:hover{
	color:white;
	background-color:#37ae70;
}

#info td:first-child { 
	background-color:#37ae70; 
	color:white;
}

.image{
	display:inline-block;
	margin-right:50%;
}

h2{
	text-align:left;
}

table {
    
    margin-left: auto;
    margin-right: auto;
}
